<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://images.unsplash.com/photo-1588117260148-b47818741c74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDV8fG1vZGF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60" cardTitle="FASHION EDITORIAL" cardDesciption="Como fazer um editorial de moda em casa - dicas e inspirações
    "></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card Id="2" cardTitle="7 truques infalíveis para montar looks estilosos usando poucas peças" photoCover="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHRlbmRlbmNpYSUyMGRlJTIwbW9kYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60"></app-small-card>
    <app-small-card Id="3" cardTitle="7 Revistas de Moda para conhecer já! (Nacionais e Internacionais)" photoCover="https://images.unsplash.com/photo-1606477057209-611910dfb135?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzF8fHRlbmRlbmNpYSUyMGRlJTIwbW9kYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60"></app-small-card>
    <app-small-card Id="4" cardTitle="Tênis Colorido: deixe seus looks mais descolados" photoCover="https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTE0fHxtb2RhfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60"></app-small-card>
  </div>
</div>


