
.container__menu-bar >ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar >ul >li{
  margin-right: 15px;
  list-style: none;
  font-weight: 700;

}

.container__menu-bar li :hover{
  color: gray;
  text-decoration: underline;

}
